@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
.active {
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*header*/

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9;
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  background-color: #f5f5f5;
}

.container {
  width: calc(100% - 120px);
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Logo*/
header .row .logo {
  display: flex;
  align-content: center;
  gap: 5px;
  flex-wrap: nowrap;
}

header .logo img {
  width: 30px;
}

header .logo a {
  color: #545be8;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* Nav*/
header nav ul {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

header nav ul a {
  color: rgb(51, 50, 50);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

/*auth*/
header .auth {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

header .auth a {
  padding: 5.354px 30px;
  border-radius: 8px;
  border-style: solid;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

header .auth .login {
  color: #545be8;
  border-color: 2px solid #545be8;
}

header .auth .Register {
  background-color: #545be8;
  color: #fff;
  padding: 7px 30px;
}
